<div> 

        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a></p>
        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageTargets">Цели и задачи</a></p>
        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageSources">Исходные данные</a></p>
        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PagePlan">План работы</a></p>
        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageTheory">Теоретические и практические результаты</a></p>
        <p><a asp-area="Admin" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageTests">Апробация результатов</a></p>
    
</div>


