<div id="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <header id="header">
                    <p class="header_title">Редактирование страниц</p>
                </header>

                <a class="header_button" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
            </div>
        </div>
    </div>
</div>